*{
  background-color: #fcfcf6;
}

header nav{
    font-family: 'Poppins', sans-serif;
    padding: 10px; 
    display: flex;
    justify-content: center;       
}

.nav-link {
  color: #000; 
  text-decoration: none; 
  font-weight: bold; 
  font-size: 20px; 
  display: block; 
  padding: 10px 20px; 
}

.nav-link:hover {
  background-color: #f5f5dc; 
  border-radius: 5px; 
}

header h1{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  padding: 10px;
}

form{
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
}

form input{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 15px;
    resize: none;
}

form button{
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

form button:hover{
  background-color: #f5f5dc; 
}

.list{
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.list li {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 30px;
  border: solid #000 1px;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.list li img {
  max-width: 150px; 
  border-radius: 5px;
}

.list li h3, .list li p {
  margin: 10px 0; 
}


.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}


.list li button, .list li a {
  margin-top: 10px;
  padding: 5px 10px; 
  border: solid #000 1px; 
  border-radius: 5px; 
  color: #000; 
  text-decoration: none; 
  font-weight: bold; 
  background-color: #f5f5dc; 
  cursor: pointer; 
  font-size: 14px; 
  text-align: center; 
  flex: 1; 
}


.list li button {
  margin-right: 10px;
}

.list li button:hover, .list li a:hover {
  background-color: #e5e5c9; 
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto; 
  padding: 20px;
  border: solid #000 1px;
  border-radius: 5px;
  max-width: 600px; 
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcf6; 
}

.detail h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.detail img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.detail p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: justify;
}


.detail a {
  margin-top: 20px;
  padding: 8px 12px; 
  border: solid #000 1px;
  border-radius: 5px;
  color: #000;
  background-color: #f5f5dc;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px; 
  text-align: center;
  cursor: pointer;
}

.detail a:hover {
  background-color: #e5e5c9; 
}

.detail p.precio {
  font-size: 18px; 
  font-weight: bold; 
  margin-bottom: 10px;
  text-align: center;
}

.contenedor-lista {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 10px;
  margin: 20px 0;
}
.contenedor-lista h2, h3{
  padding-left: 40px;

}

.contenedor-lista li {
  list-style-type: none;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.boton-eliminar-carrito {
  font-style: oblique;
  color: white;
  background-color: rgb(223, 0, 0);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 80px;
}

.carrito-producto {
  display: flex;
  align-items: flex-start;
}

.carrito-producto img {
  margin-right: 15px;
  max-width: 100px;
  height: auto;
}

.carrito-producto h3,
.carrito-producto p {
  margin: 0;
  padding: 0;
  flex: 1;
}

.producto-detalle {
  display: flex;
  flex-direction: column;
}
